{% extends 'base.html' %}

{% block title %}List{% endblock %}

{% block content %}
<div class="offest-1 col-10 list-div">
    <h2>Lista de Tarefas</h2>
    <div class="col-2 add-div">
        <i class="fa fa-plus fa-1x" aria-hidden="true"></i>Adicionar
    </div>
    <div class="col-9 search-div">
        <input type="search" class="form-control" name="search" id="search" placeholder="Buscar Tarefa">
    </div>
    <ul class="models_list">
        <li class="models_item">
            <span>Titulo da Tarefa</span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </li>
        <li class="models_item">
            <span>Titulo da Tarefa</span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </li>
        <li class="models_item">
            <span>Titulo da Tarefa</span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </li>
        <li class="models_item">
            <span>Titulo da Tarefa</span>
            <span><i class="fa fa-trash" aria-hidden="true"></i></span>
            <span><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span>
        </li>
    </ul>
<div>
{% endblock %}

{% block paragraph %}Tarefas{% endblock %}


